In [1]:
#1.
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sort = list(sorted(l, key = lambda x : x[1]))
print(sort)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
#2.
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = list(map(lambda x : x**2, l1))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#3.
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tup = tuple(map(lambda x : str(x), l2))
print(tup)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
#4.
from functools import reduce
l3 = [i for i in range(1, 26)]
a = reduce(lambda x, y : x*y, l3)
print(a)

15511210043330985984000000

In [5]:
#5.
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
div = list(filter(lambda x : x % 2 == 0 and x % 3 == 0, l4))
print(div)

[6, 60, 90, 120]

In [6]:
#6.
l5 = ['python', 'php', 'aba', 'radar', 'level']
pal = list(filter(lambda x : x == x[::-1], l5))
print(pal)

['php', 'aba', 'radar', 'level']