In [1]:
#1.

import pandas as pd
[4, 8, 15, 16, 23, 42]
s = pd.Series(l)

print(s)

In [ ]:
#2.

import pandas as pd
l = [i*10 for i in range(0,10)]
s = pd.Series(l)

print(s)

In [ ]:
#3.

import pandas as pd
d = {"Name": ['Alice', 'Bob', 'Claire'],
    "Age":[25, 30, 27],
    "Gender":['Female', 'Male', "Female"]}
df = pd.DataFrame(d)

print(df)

In [15]:
#4.

# A dataframe is a two dimensional data structured in which each row and column has a label.
# It can store data of different data type like string, int, float, etc.

# Dataframe is different from series because a series is an indexed array.
# Series is of single data type like string, int, float, etc.

# Example:

import pandas as pd

l = [i for i in range(10)]
s = pd.Series(l)
print(l)
print(type(s))

d1 = {
    "S.No." : [1, 2, 3, 4],
    "Direction" : ['North', 'East', 'West', 'South']
}

df1 = pd.DataFrame(d1)
print(df1)
print(print(type(df1)))
print(print(type(df1['Direction'])))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'pandas.core.series.Series'>
   S.No. Direction
0      1     North
1      2      East
2      3      West
3      4     South
<class 'pandas.core.frame.DataFrame'>
None
<class 'pandas.core.series.Series'>
None

In [ ]:
#5.

# head() function is used to get first five rows of the dataframe.
# If we pass an integer variable n as argument to head() we get n first rows as output.

# tail() function is used to get last five rows of the dataframe.
# If we pass an integer variable n as argument to tail() we get n last rows as output.

# describe() function is used to get statistics of data.
# It includes the count, mean, standard deviation, minimum, maximum, and quartiles.

# sort_values() function is used to sort dataframe by one or more column.

# drop() is used to drop one or more columns or rows from a DataFrame.

In [12]:
#6.

# In pandas, all data structures like panel, series, dataframe,etc. are value mutable.

#example:
l = [5, 6, 7, 8]
s = pd.Series(l)

s[1] = 40
print(s)

# All data structures are size mutables except series.
# Series are size immutable i.e. their size can not be changed.

#example:
d = {
    "Class": [1, 2, 3],
    "Students": [30, 33, 30]
}

df = pd.DataFrame(d)
print(df)

df["Average Marks"] = [65, 66, 55]
print(df)

0     5
1    40
2     7
3     8
dtype: int64
   Class  Students
0      1        30
1      2        33
2      3        30
   Class  Students  Average Marks
0      1        30             65
1      2        33             66
2      3        30             55

In [ ]:
#7.

import pandas as pd

x = pd.Series(['Anurag', 'Aman', 'Ankit'])
y = pd.Series([22, 20, 21])

z = pd.DataFrame({'Name': x, 'Age':y})
print(z)