In [1]:
#1.

# A database is a collection of data which is organised and can be accessed, managed, and updated easily.

# SQL databases are relational databases while NoSQL databases are non-relational or distributed databases.
# SQL requires a predefined schema while NoSQL has dynamic schema.
# SQL databases are structured whereas NoSQL databases are unstructured.
# SQL databases are table based whereas NoSQL databases are key-value pair based.

In [2]:
#2.

# DDL stands for Data Definition Language. DDL commands are used to create, modify or delete the schema of the database.

# CREATE is used to create the database or it's objects and defining the structure of database.

# DROP is used to delete the objects of the database.

# ALTER is used to modify the structure of the database.

# TRUNCATE is used to remove all records from a table, including all spaces allocated for the records are removed.

In [3]:
#3.

# DML stands for Data Manipulation Language. DML commands are used to insert, delete and manipulate data in the tables.

# INSERT is used to insert data into the tables.

# UPDATE is used to update the previously entered data in the table.

# DELETE is used to delete records in the table.

In [4]:
#4.

# DQL stands for Data Query Language. DQL commands are used to perform queries on the data within schema objects.

# SELECT is used to retrieve data from the database.

In [5]:
#5.

# Primary Key is a attribute which can uniquely identify a tuple from a table.
# It is always unique and can never be null.

# Foreign Key is a attribute which is the primary key of another table.
# It is not always unique and can be null.

In [6]:
#6.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

ModuleNotFoundError: No module named 'mysql'

In [7]:
# A cursor is an object which helps to execute the query and fetch the records from the database.

# The execute() method helps us to execute the query and return records according to the query.

In [8]:
#7.

# Sequence follows from top to bottom:

# FROM Tables are joined to get the base data.
# WHERE The base data is filtered.
# GROUP BY The filtered base data is grouped.
# HAVING The grouped base data is filtered.
# SELECT The final data is returned.
# ORDER BY The final data is sorted.
# LIMIT The returned data is limited to row count.