In [1]:
#1.

import pandas as pd

# read_csv() function is used to read data from a csv file.

df = pd.read_csv('student.csv')
df

       Name   Gender  Branch
0    Anurag     Male     CSE
1      Aman     Male      ME
2      Ajay     Male      CE
3   Anshika   Female     CSE
4  Abhishek     Male      CE
5   Apoorva   Female      ME

In [2]:
# describe() function is used to get statistics of data.
# It includes the count, mean, standard deviation, minimum, maximum, and quartiles.

df.describe()

          Name  Gender  Branch
count        6       6       6
unique       6       2       3
top     Anurag    Male     CSE
freq         1       4       2

In [3]:
# head() function is used to get first five rows of the dataframe.
# If we pass an integer variable n as argument to head() we get n first rows as output.


df.head(2)

     Name  Gender  Branch
0  Anurag    Male     CSE
1    Aman    Male      ME

In [4]:
# tail() function is used to get last five rows of the dataframe.
# If we pass an integer variable n as argument to tail() we get n last rows as output.

df.tail(2)

       Name   Gender  Branch
4  Abhishek     Male      CE
5   Apoorva   Female      ME

In [5]:
# DataFrame() function used to create a dataframe object.

d = {
    'Subject': ['Maths', 'Science', 'SST', 'Hindi', 'English', 'Sanskrit'],
    'Marks' : [100, 96, 94, 89, 89, 86]
}

In [6]:
#2.

import pandas as pd

def reindexer(df):
    return df.reset_index(drop=True).set_index(pd.RangeIndex(start=1, step=2, stop=len(df)*2))

d = {
    'A' : ['a', 'b', 'c'],
    'B' : ['d', 'e', 'f'],
    'C' : ['g', 'h', 'i']
}

df = pd.DataFrame(d)
print(df)
df = reindexer(df)
print(df)

   A  B  C
0  a  d  g
1  b  e  h
2  c  f  i
   A  B  C
1  a  d  g
3  b  e  h
5  c  f  i

In [7]:
#3.

import pandas as pd

def valueSum(df):
    sum = 0
    for i in df['Values'][0:3]:
        sum += i
    print(sum)
    
df = pd.DataFrame({
    'Variable' : ["x", "y", "z"],
    'Values' : [23, 45, 66]
})

valueSum(df)

134

In [8]:
#4.

import pandas as pd

def wordCount(df):
    for i in range(0, len(df['Text'])):
        df.loc[i, 'Word_Count'] = len(df.loc[i, 'Text'].split())
   
    return df

df = pd.DataFrame({
    'Text' : ['I want to become a Data Scientist.', 'I love PWSkills.', 'I love India.'],
    'Bool' : [True, False, True]
})

print(df)
df = wordCount(df)
print(df)

                                 Text   Bool
0  I want to become a Data Scientist.   True
1                    I love PWSkills.  False
2                       I love India.   True
                                 Text   Bool  Word_Count
0  I want to become a Data Scientist.   True         7.0
1                    I love PWSkills.  False         3.0
2                       I love India.   True         3.0

In [9]:
#5.

# DataFrame.shape is used to get the shape of the DataFrame.
# DataFrame.shape gives shape in the form of a tuple(row, column).

# DataFrame.shape is used to get the total number of elements in a DataFrame.
# The total element can be given by number of rows multiplied by number of columns.

import pandas as pd

df = pd.DataFrame({
    'A' : ['a', 'b', 'c'],
    'B' : [1, 2, 3]
})

print(df.shape)
print(df.size)

(3, 2)
6

In [10]:
#6.

# We can open excel files using read_excel() functions from pandas.

#Example:
import pandas as pd

df = pd.read_excel('Book1.xlsx')
print(df)

      Name Branch Batch  Year
0   Anurag    CSE     A     3
1  Anshika     ME     A     2
2  Bhumika    CSE     B     3

In [18]:
#7.

import pandas as pd

def createUsername(df):
    for i in range(0, len(df['Email'])): 
        df.loc[i, 'Username'] = df.loc[i, 'Email'].split('@')[0]
    return df

df = pd.DataFrame({
    'Name' : ['Anurag', 'Harsh', 'Deepanshu'],
    'Email' : ['iamanurag@gmail.com', 'hjharsh@gmail.com', 'deepanshusaini@gmail.com']
})

df = createUsername(df)
print(df)

        Name                     Email        Username
0     Anurag       iamanurag@gmail.com       iamanurag
1      Harsh         hjharsh@gmail.com         hjharsh
2  Deepanshu  deepanshusaini@gmail.com  deepanshusaini

In [22]:
#8.

import pandas as pd

def test(df1):
    df2 = df1[(df1['A']>5) & (df1['B']<10)]
    return df2

df = pd.DataFrame({
    'A' : [2, 5, 3, 8, 3, 6, 2, 6],
    'B' : [2, 4, 22, 5, 11, 4, 3, 1],
    'C' : [12, 43, 3, 1, 6, 10, 4, 5]
})

print(test(df))

   A  B   C
3  8  5   1
5  6  4  10
7  6  1   5

In [26]:
#9.

import pandas as pd

def stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std
    
df = pd.DataFrame({
    'Variable' : ["x", "y", "z"],
    'Values' : [23, 45, 66]
})

print(stats(df))

(44.666666666666664, 45.0, 21.501937897160182)

In [33]:
#10.

def movingAverage(df):
    for i in range(len(df['Sales'])):
        if i < 6:
            df.loc[i, 'MovingAverage'] = df['Sales'][0: i+1].mean()
        else:
            df.loc[i, 'MovingAverage'] = df['Sales'][i-6: i+1].mean()
    return df
    
df = pd.DataFrame({
    'Date' : ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08'],
    'Sales' : [20000, 23000, 21000, 30000, 40000, 22000, 19000, 19500]
})

df = movingAverage(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01  20000   20000.000000
1  2023-01-02  23000   21500.000000
2  2023-01-03  21000   21333.333333
3  2023-01-04  30000   23500.000000
4  2023-01-05  40000   26800.000000
5  2023-01-06  22000   26000.000000
6  2023-01-07  19000   25000.000000
7  2023-01-08  19500   24928.571429

In [ ]:
#10.

def movingAverage(df):
    for i in range(len(df['D'])):
        
    return df
    
df = pd.DataFrame({
    'Date' : ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08'],
})

df = movingAverage(df)
print(df)